body {
  margin: 0px;
  padding: 0px;
}

.searchengine {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px
}

.searchengine input {
  width: 70%;
  height: 45px;
  border: 1px solid;
  border-radius: 8px;
  padding: 2px 15px;
  font-size: 16px;
  outline: none;
  background-color: #fff;
  color: #555;
}

.searchengine button {
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: black;
  color: #fff;
  font-size: 20px;
  padding: 13px 15px;
}